@model GestionRRHH.Models.Salida

@{
    ViewBag.Title = "Detalles de la salida";
}

<h2>Details</h2>

<div>
    <h4>Salida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayName("Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Codigo + " => " + model.Empleado.Nombre + " " + model.Empleado.Apellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("<< Volver a la lista", "Index", null, new { @class = "btn btn-primary" })
</p>
