@model GestionRRHH.Models.Licencia

@{
    ViewBag.Title = "Licencias";
}

<h2>Detalles</h2>

<div>
    <h4>Licencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Desde")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayName("Hasta")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayName("Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Codigo + " => " + model.Empleado.Nombre + " " + model.Empleado.Apellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("<< Volver a la lista", "Index", null, new { @class = "btn btn-primary" })
</p>
