@model GestionRRHH.Models.Nomina

@{
    ViewBag.Title = "Nomina";
}

<h2>Nomina 100% procesada</h2>

<div>
    <h4>Nomina actual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Año")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes)
        </dd>

        <dt>
            @Html.DisplayName("Monto total")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("<< Volver a la lista", "Index", null, new { @class = "btn btn-default" })
</p>
